<!-- <div class="card"> -->
    <form class="card" [formGroup]="logInForm">
        <p>Welcome to Freelers Hub</p>
        <mat-form-field filled-focus-active-indicator-color >
            <mat-label>E-mail</mat-label>
            <input formControlName="inputEmail" matInput>
        </mat-form-field>
        <mat-form-field  filled-focus-active-indicator-color>
            <mat-label>Password</mat-label>
            <input formControlName="inputPassword" matInput type="password">
        </mat-form-field>
        <button mat-raised-button color="secondary" (click)="ExecuteLogIn()">Log In</button>
        <p>Don't have an account? <button mat-button (click)="GoToSignUp()">Sign Up</button></p>
    </form>
<!-- </div> -->